@font-face {
    font-family: 'Lato';
    src: url(../font/Lato-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
    font-display: fallback;
}
@font-face {
    font-family: 'Lato';
    src: url(../font/Lato-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
    font-display: fallback;
}
@font-face {
    font-family: 'Lato';
    src: url(../font/Lato-Semibold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
    font-display: fallback;
}
@font-face {
    font-family: 'Lato';
    src: url(../font/Lato-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
    font-display: fallback;
}
@font-face {
    font-family: 'Lato';
    src: url(../font/Lato-Heavy.ttf) format("truetype");
    font-style: normal;
    font-weight: 800;
    font-display: fallback;
}
@font-face {
    font-family: 'Bounded';
    src: url(../font/Bounded-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
    font-display: fallback;
}
@font-face {
    font-family: 'TinkoffSans';
    src: url(../font/TinkoffSans-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
    font-display: fallback;
}
@font-face {
    font-family: 'Raleway';
    src: url(../font/Raleway-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
    font-display: fallback;
}